@import './variables.scss';
@import url('https://fonts.cdnfonts.com/css/akira-expanded');

* {
	box-sizing: border-box;
	margin: 0;
}

body {
	width: 100%;
	font-family: $Akira;
	color: $dark;
}

#root {
	height: 100%;
}
