@import '../styles/variables.scss';

.form {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    background: transparent;
    position: relative;
    z-index: 1;

    
}