@import '../styles/variables.scss';
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,400;0,700;1,900&display=swap');
@import url('https://fonts.cdnfonts.com/css/akira-expanded');

* {
	margin: 0;
	padding: 0;
	scroll-behavior: smooth;
	box-sizing: border-box;
	color: $light;
}

.contact_container {
	max-width: 960px;
	margin: auto;
	width: 80%;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 1.5rem;
	background: $dark;
	box-shadow: 0 0 1rem hsla(0, 0, 0, 16%);
	border-radius: 0.5rem;
	overflow: hidden;

	@include breakpoint(md) {
		width: 1920px;
	}
}

.form_container {
	padding: 20px;
}

.form_container h3 {
	font-size: 1rem;
	font-weight: 600;
	margin-bottom: 0.5rem;
	text-align: center;

	@include breakpoint(md) {
		font-size: 2rem;
	}
}

.form_container p {
	display: block;
	font-size: 0.8rem;
	font-weight: 400;
	font-family: 'kanit', sans-serif;
	text-align: center;

	@include breakpoint(md) {
		font-size: 1rem;
		display: block;
	}
}

.form_container_phone {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	padding-bottom: 0.1rem;
	padding-top: 0rem;
}

.form_container_add {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	padding-bottom: 1rem;
	padding-top: 0rem;
}

.form_container_phone p {
	padding-left: 0.5rem;
	padding-bottom: 1px;
	margin-bottom: 0px;
}

.form_container_add p {
	padding-left: 0.5rem;
	padding-bottom: 1px;
	margin-bottom: 0px;
}

.form_container_add i {
	display: block;
	padding-top: 2px;

	@include breakpoint(md) {
		display: block;
	}
}

.form_container_phone i {
	display: block;
	padding-top: 2px;

	@include breakpoint(md) {
		display: block;
	}
}

.contact_form {
	display: grid;
	row-gap: 1rem;
	font-family: $Kanit;

	> input {
		width: 100%;
		border: none;
		outline: none;
		background: rgb(14, 17, 20);
		padding: 10px;
		font-size: 0.9rem;
		color: $light;
		border-radius: 0.4rem;
		font-family: 'kanit', sans-serif;
	}

	> textarea {
		width: 100%;
		border: none;
		outline: none;
		background: rgb(14, 17, 20);
		padding: 10px;
		font-size: 0.9rem;
		color: $light;
		border-radius: 0.4rem;
		resize: none;
		height: 200px;
		font-family: 'kanit', sans-serif;
	}

	.submitbutton {
		> input {
			width: 100%;
			border: none;
			outline: none;
			background: $light;
			font-size: 1.5rem;
			font-weight: 500;
			text-transform: uppercase;
			cursor: pointer;
			border-radius: 0.4rem;
			padding: 10px;
			color: $dark;
			font-family: 'kanit', sans-serif;
			font-weight: 900;
			font-style: italic;

			&:hover {
				transition: 0.3s all linear;
				background: hsl(0, 0%, 80%);
			}
		}

		.map {
			height: 100%;
			width: 100%;
			border: none;
		}
	}
}
