@import './../styles/variables.scss';

.svg {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 10px 10px;

	.image {
		padding: 50px 50px;
		width: 250px;
		height: 147px;
		background-image: url('../imgs/homeimg.png');
		background-size: contain;
		background-repeat: no-repeat;

		@include breakpoint(xsm) {
			width: 340px;
			height: 200px;
		}

		@include breakpoint(sm) {
			width: 700px;
			height: 411px;
		}

		@include breakpoint(xl) {
			width: 925px;
			height: 544px;
		}
	}

	.imagetwo {
		padding: 50px 50px;
		width: 250px;
		height: 147px;
		background-image: url('../imgs/secretimg.webp');
		background-size: contain;
		background-repeat: no-repeat;

		@include breakpoint(xsm) {
			width: 340px;
			height: 200px;
		}

		@include breakpoint(sm) {
			width: 700px;
			height: 411px;
		}

		@include breakpoint(xl) {
			width: 925px;
			height: 544px;
		}
	}
}
