@import './../styles/variables.scss';

.container {
	height: calc(100vh - #{$headerHeight});
	background: url(../imgs/bg.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	display: flex;
	justify-content: center;
	align-items: center;
}
